<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #departmentForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="department.id">{{ l('EditDepartment') }}</span>
                        <span *ngIf="!department.id">{{ l('CreateNewDepartment') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="Department_Name">{{ l('Name') }}</label>
                        <input type="text"
                               #Department_Name="ngModel"
                               id="Department_Name"
                               class="form-control"
                               [(ngModel)]="department.name"
                               name="Name" />
                        <validation-messages [formCtrl]="Department_Name"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="Department_Code">{{ l('Code') }}</label>
                        <input type="text"
                               #Department_Code="ngModel"
                               id="Department_Code"
                               class="form-control"
                               [(ngModel)]="department.code"
                               name="Code" />
                        <validation-messages [formCtrl]="Department_Code"></validation-messages>
                    </div>

                    <br />
                    <label class="form-check form-check-custom form-check-solid">
                        <input id="Department_IsActive"
                               #Department_IsActive="ngModel"
                               name="IsActive"
                               [(ngModel)]="department.isActive"
                               type="checkbox"
                               class="form-check-input" />
                        <span class="form-check-label">
                            {{ l('IsActive') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="Department_IsActive"></validation-messages>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!departmentForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
